* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'SF Mono', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #101118;
    color: #ffffff;
    margin: 9px 0;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
    padding: 0 8px;
}

#workspaces button:hover {
    background: #202020;
    box-shadow: inherit;
}

#workspaces button.focused {
    color: #ada0d3;
}

#workspaces button.urgent {
    color: #e2a478;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 8px;
    margin: 4px 4px;
    color: #ada0d3;
    border-radius: 4px;
}

#clock {
}

#battery {
}

#battery.charging {
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-media {
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    background-color: #a093c7;
    color: #161821;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

