* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'SF Mono', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #1d2021;
    /* border-top: 3px solid #52307c; */
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* border-top: 3px solid transparent; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #202020;
    box-shadow: inherit;
    /* border-top: 3px solid #ffffff; */
}

#workspaces button.focused {
    background-color: #32302f;
    /* border-top: 3px solid #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    /* border-top: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
    background-color: #101010;
}

#clock {
}

#battery {
}

#battery.charging {
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-media {
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    background-color: #52307c;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

